PORT=3001
SECRET_KEY="Mrw8B2GZJ4edNoNpEkwYKOKqKmYxEvv6igCl6QdziB2GpzWrzk9qFU20BC6t2Qb"

DATABASE_USER=postgres
DATABASE_PASS=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=student_store
